@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper Js */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 1rem;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #2563eb !important;
  opacity: 0.5 !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  transform: scale(1.25);
}

@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

/* Image Modal */
@layer base {
  body {
    @apply bg-gray-100;
  }
}

@layer components {
  .modal-open {
    @apply overflow-hidden;
  }
}
